* {
    background: #000;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#container {
    perspective: 1000px;
}

#box {
    height: 100px;
    width: 100px;
    transform-style: preserve-3d;
    transform: rotateX(15deg) rotateY(50deg);
}

.card {
    height: 100px;
    width: 100px;
    border: 1px solid #393E46;
    color: #393E46;
    position: absolute;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    /* Prevent text from being inverted */
    font-size: 12px;
    transition: 0.5s;
}

.card:hover {
    color: white;
}

#front {
    transform: translateZ(50px);
}

#back {
    transform: translateZ(-50px) rotateY(180deg);
    /* Rotate the back face to correct its orientation */
}

#left {
    right: 50px;
    transform: rotateY(-90deg);
}

#right {
    left: 50px;
    transform: rotateY(90deg);
}

#top {
    bottom: 50px;
    transform: rotateX(90deg);
}

#bottom {
    top: 50px;
    transform: rotateX(-90deg);
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    color: white;
}

p {
    cursor: pointer;
}
